@keyframes changeColor {
    100%{
        color: pink;
        opacity: 0.7;
        
    }
    80%{
        color: blue;
    }
    60%{
         color: lime;
    }
    40%{
color: yellow;
    }
    20%{
        color: orange;
    }
    0% {
        color: aqua;
        opacity: 1;
       
    }
}
@keyframes changeColorContent {
    from{
        color:white;
        opacity: 0.7;
        
    }
    to {
        opacity: 1;
       
    }
}

.animation1{
    animation: changeColorYear 5s infinite ;
}
.animation2{
    animation: changeColorContent 5s infinite ;
}
.icon{
    color:red;
    font-size: 2rem;
}
.canvas{
    height: 100%;
    width: 100%;
}
.volumn,.muted{
    position:absolute;
    z-index:9;
    color: white;
    bottom:0;
}
.muted{
    right:20px;
}
.volumn{
    right:70px
}

@import url("http://fonts.cdnfonts.com/css/poppins");
* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.banner {
    text-align: center;
    font-family: "Satisfy";
    font-weight: bold;
    text-shadow: 2px 2px 2px #00ff00;
  
}

.bg__icon{
    font-weight: bold;
    text-shadow: 2px 2px 2px #00ff00;

}
@keyframes gradient {
    50% {
        filter: hue-rotate(360deg);
    }
}
